<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理信息系统试读</title>
    <link href="../../static/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <script defer src="../../static/javascript/all.min.js"></script>
    <script src="../../static/javascript/js.js"></script>
    <script src="../../static/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <script type="text/javascript">
        $(window).on("scroll",function(){
          if ($(window).scrollTop()) {
            $('nav').addClass('navToBlack');
          }
          else {
            $('nav').removeClass('navToBlack');
          }
        })
    
    </script>

</head>
<body>
<header class="haoHeader">
  <nav class="haoNav">
    
    <div class="haoMenu">
      <ul class="navigation-ul">
        <li class="ul-item"><a href=login>登录/注册</a></li>
        <li class="ul-item"><a href="#">我的鹿克</a></li>
          <li class="ul-item"><a class="btn" href=shoppingcart><i class="fa fa-shopping-cart"></i>购物车
            </a></li>
            <li class="ul-item"><span id="bf" onclick="bf()">音乐</span><audio id="music1" src="../../static/music/1.mp3" autoplay preload hidden></audio>

</li>
      </ul>
    </div>

  </nav>
  </header>
<div class="searcher">
    <div class="log">
    <a href=index><img class="navLogo" src="../../static/img/logo.png" /></a></div>
    <div class="book-search">
      <form class="search-form">
          <input type="text" name="" class="search" placeholder="搜索 书籍">
        	<a href=search><input name="button" type="button" class="submit" id="搜索" title="搜索" value="搜索" /> </a>
        </form>  
     </div>
</div>
<div class="newspaper">
<div class="responsive">
  <div class="img">
     <img src="../../static/img/管理信息系统-(原书第13版....jpg" height="480" width="420"/>
   <ul class="b">
   	<li><h2>管理信息系统</h2></li>
   	<li><h4>内容简介:</h4>
   <p style="line-height:200%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   	本书在介绍管理信息系统的基本概念、基本理论和相关技术的基础上，阐释管理信息系统的原理、方法和应用，使读者获得对管理信息系统的整体认识。全书共3篇12章，从基本原理、开发方法和典型应用三个层面阐述管理信息系统对社会与组织变革的作用、管理信息系统的开发过程和技术要点以及管理信息系统的主要应用。本书力求通过理论学习和实践训练，使读者了解管理信息系统的基本原理，掌握管理信息系统建设的基本方法与技术，了解管理信息系统应用领域的最新发展，提高分析和解决管理信息系统建设中相关问题的能力。本书可作为高等学校计算机科学与技术、信息管理与信息系统、电子商务、管理科学与工程等专业的教材，也适合从事企业信息化建设和管理信息系统开发以及管理的相关人员阅读。
   </p></li>
   </ul>
   
  </div>
</div>
<div align="center"><a href=look>返回</a></div>
</body>
</html>
