.haoHeader{
  background:  center;
  background-size: cover;
  height: 40px;
}
.haoNav{
    z-index:10000; 
    position: fixed;
    top: 0;
    width: 100%;
   
}
.haoNav ul{
    float: right;
    margin: 0;
    padding-right: 40px;
}
.haoNav ul li{
    display: inline-block;
    padding: 10px 50px;
}

.haoNav ul li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.navToBlack{
  background: gray;
  opacity: .8;
}
.searcher{
    margin-top: 10px;
    height: 140px;

}
.navLogo{
    float: left;
  height: 100px;
}
.log{
    height: 130px;
    width: 290px;
    position: absolute;
    z-index: 100000;
    margin-left: 100px;
}
.book-search{
    text-align: center;

}
form {
    width: 500px;
    margin-left: 500px;
    margin-top:0;
    padding-top: 25px;
    
}
.search{
    width: 60%;
    padding: 10px;
    font-size: 20px;
    border: #38a2ff solid 1px;
    
}
#bf{
    cursor: pointer;
}
.submit{
    
    
    width: 132px;
    height:45px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 9px;
    background-color: #6495ED;
    color: white;
    border: 0;
    cursor: pointer;
}


.floor
{
    margin-left: 150px;
    margin-top: 20px;
    width: 100%;
    height: 665px;
    position: relative;
}
.floor-left{
    display:inline-block;
}
.color-mark
{
    display: inline-block;
    background-color: #333;
    width: 5px;
    height: 18px;
    vertical-align: middle;
}
.floor-title {
    font-size: 20px;
    
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}
.floor-sub-name{
    display: inline-block;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 24px;
    height: 18px;
    font-family: arial;
    text-transform: uppercase;
    vertical-align: middle;
}
.floor-prev{
    position: relative;
    width: 240px;
    height: 618px;
    cursor: pointer;

}
.floor-arrow{
    width: 240px;
    height: 618px;
}
.floor-arrow:hover{
    opacity: .8;
}


.banner-detail{
    position: absolute;
    vertical-align: middle;
    bottom: 20%;
    width: 218px;
    height: 64px;
}
.banner-left-detail{
    background: rgba(0,0,0,.9);
    width: 70px;
    height: 64px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.banner-right-detail{
    
    left: 70px;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    width: 128px;
    height: 64px;
    color: #FFF;
    vertical-align: middle;
}
.banner-right{
    display: block;
    line-height: 24px;
    font-size: 18px;
    margin-left: 10px;
}
.detail-wrap{
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 32px;
    height: 32px;
}
.floor-arrow-big{
    height: 32px;
    width: 32px;
}

.middle-column-con {
    top: 30px;
    left: 250px;
    width: 1000px;
    height: 618px;
    position: absolute;


}
.floor-item-content-wrap {
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
}
.floor-item-content-wrap:hover{
    border: 1px solid #38a2ff;
    opacity: .8;

}
.floor-item-title{
    font-family:"Microsoft YaHei";
    width: 150px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
}
.grid-one-grid-price{

    width: 235px; 
    text-decoration:none;
    display: inline-block;
}
.floor-price{
    font-family:"Microsoft YaHei";
    text-align: center;
    font-size: 20px;
    color: #38a2ff;
    line-height: 18px;
    margin: 10px auto;
}
.floor-item-img{
    width: 200px;
    height: 200px;
}
.wonderful-title{
    text-align: center;
    height: 43px;
    font-weight: 100;
}
.fa .fa-heart
{
    margin-right: 4px;
    font-size: 20px;
    
}
.text-ctn{
    color:gray;
}
.text-ctn-left{
    font-size: 30px;
    color: gray;

}

.xihuan{
    float: none;
    text-align: center;
}
.inner-con0 {
    height: 36px;
    line-height: 36px;
    width: 100%;
    position: relative;
    border-bottom:2px solid gray;
    bottom: 0;
}

.inner-con1{
    width:80%;
}
.inner-co1-a{
    height: 35px;
    cursor: pointer;
    float: left;
    padding: 0 16px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: #333;
    letter-spacing: normal;
    position: relative;
    text-decoration: none;
}
 .category-type{  
    width:200px;
    float: left;
    margin-left:165px;
    height: 36px;
    color: #fff;
    background-color: #6495ED;
    z-index: 100;
    line-height: 36px;
     padding-left: 10px;

} 
.shangping-fenlei{
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
}
    
.container{
    width: 100%;
    height: 400px;
}
.container-left{
    position: absolute;
    width: 220px;
    margin-top: -16px;
    margin-left:165px;
}
.noraml-nav{
    background-color: rgba(0,0,0,.55);
    height: 400px;
    position: relative;
    z-index: 11;
    padding-left: 0;
    width: 210px;
   
}
.normal-li{
    display: block;
    height: 40px;
    font-size:20px;
    color: white;
    padding-left: 10px;
}
.normal-li:hover{
    background: white;
    color: gray;

}


.container-right{
    position: absolute;
    background: white;
    margin-top: 0px;
    margin-left: 385px;
    height: 400px;
    width: 500px;
    z-index: 11;
    opacity: 0;
}
.container-right a{
    text-decoration: none;
    color: black;
    margin: auto 10px;

}
.container-right a:hover{
    color: gray;
}
.advertisements{
    width: 500px;
}
.main-banner{
    margin: 0 auto;
    width: 78%;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.main-banner .imgban{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}
.main-banner #imgban3{
    background-image: url(img/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban2{
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban1{
    background-image: url(img/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.footer{
    border-top: 2px solid #38a2ff;
    margin-top: 30px;
    clear: both;
    text-align: center;
}
.footer-text{
    width: 50%;
    margin: 0 auto;
    
}
.footer-body{
    width: 20%;
    display:inline-block;
    font-size: 20px;
}
.footer-title{
    margin: 20px 0;
    
}
.footer-text-a{
    padding-top: 0;
    margin: 10px 0;

}
.nonedecoration{
    text-decoration: none;
    color: #8c8c8c;
    font-size: small;
}
.nonedecoration:hover{
    text-decoration: none;
    color: darkkhaki;
}
.footer-text-span{
    padding-top: 50px;
}
.sep{
    margin: 0 17px 0 19px;
}
.copyright{
    padding: 10px 20px;
    margin: 20px;
    font-size: small;
}
.sap
{
    padding: 15px;
}
.newspaper
{
	-moz-column-count:2; 
	-webkit-column-count:2; 
	column-count:2;
	 column-gap: 20px
}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 6px;
    cursor: pointer;
}
.button3 {background-color: #f44336;} 
.button4 {background-color: #e7e7e7; color: black;} 
a:link,a:visited{ text-decoration:none;  
p{ text-indent:2emï¼›}